// Style till app 

.app {
    opacity: 0.8;
    border: 2px solid white;
 background-color: #202224;
  height: 70vh;
  display: grid;
  grid-template-columns: 20rem repeat(3, 1fr);
  padding: 1rem;
  overflow: scroll;
}


@media (max-width: 640px) {
  body {font-size:0.9rem;
  margin:3%; }
 .app {display: flex;
  flex-direction: column;
  width: 100%; }
.rubrik {font-size: 100%;}
.addBtn {margin-bottom:2rem;}
#form__grid { padding-right:20px }

}

#form__grid {
    display: flex;
    flex-direction: column;}


#utgifter__grid, #inkomster__grid, #vinst__grid {
    text-align: center;
    margin-top: 10px;
    }
   
    #kostnader__grid {
       text-align: center;
   
    }
   
    #vinst__grid {
       text-align: center;
   
    }
   